@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 241, 235;
  --background-end-rgb: 245, 241, 235;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.org-chart .p-organizationchart .p-organizationchart-node-content {
  padding: 0;
  border: none;
  background-color: transparent;
}

.org-chart .p-organizationchart .p-organizationchart-line-down,
.org-chart .p-organizationchart .p-organizationchart-line-left,
.org-chart .p-organizationchart .p-organizationchart-line-top {
  border-color: #5c4c3c;
}

.org-chart .p-organizationchart .p-organizationchart-node-content .p-node-toggler {
  background-color: #d7c7b6;
  color: #5c4c3c;
}

.org-chart .p-organizationchart .p-organizationchart-node-content .p-node-toggler:hover {
  background-color: #c0b09f;
}

.org-chart .p-organizationchart .p-organizationchart-line-down {
  background: #5c4c3c;
  width: 2px;
}

.org-chart .p-organizationchart .p-organizationchart-line-left {
  border-right: 2px solid #5c4c3c;
}

.org-chart .p-organizationchart .p-organizationchart-line-top {
  border-top: 2px solid #5c4c3c;
}

